<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"><b>รหัสกิจกรรมหลัก</b></h1>
<hr>
<div mat-dialog-content >  
  <div class="row">
    <div class="col-md-11">
      <input type="text"  [ngStyle]="{'background-color': !search1 ?'#fff' : '#f2f2f2'}" class="form-control" #searchValue/>
    </div>
    <div class="col-md-1">
      <button mat-icon-button class="btn btn-info" (click)="search(searchValue)">
          <span style="font-size:15px;">เริ่มค้นหา</span>
      </button>
    </div>
  </div>
  <div class="row" style="padding-top:10px;">
    <div class="col-md-12">
      <table class="table-normal table-result">
        <tr>
          <th>เลือก</th>
          <th>รหัสกิจกรรมหลัก</th>
          <th>ชื่อของเขตฟังก์ชั่น</th>
        </tr>
        <tbody>
          <tr *ngFor="let item of listDocument ; let i = index">
            <td><mat-icon>folder_open</mat-icon></td>
            <td>{{ item.code}}</td>
            <td>{{ item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>