<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">ทางเลือกแบบหลายทางสำหรับผู้ขาย</h1>
<div mat-dialog-content>
  <div class="panel panel-primary">
    <div class="panel-heading">การเลือกมูลค่าเดียว</div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg ">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
      </div>
      <div class="row margin-tb-size ">
          <div class="col-md-3 text-right">
            <label class="text-black">จากบรรทัด</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ของ</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">ช่วงกว้าง</div>
    <div class="panel-body">
      <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black"></label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ถึง</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ถึง</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ถึง</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ถึง</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">
            <label class="text-black">+</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ถึง</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
        <div class="row margin-tb-size ">
          <div class="col-md-3 text-right">
            <label class="text-black">จากบรรทัด</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputDate">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
          <div class="col-md-1 text-right">
            <label class="text-black">ของ</label>
          </div>
          <div class="col-md-4">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" id="InputConfig">
              <button class="btn btn-default" type="button" mat-raised-button (click)="test()">
                <img src="assets/images/icon/menu.svg" width="12px">
              </button>
            </div>
          </div>
        </div>
    </div>
  </div>  
</div>