<div class="tabbody">
  <!-- 1 -->
  <div class="panel panel-primary">
    <div class="panel-heading">ต้องการประเภทการรายงานตรวจสอบ</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-checkbox>ตรวจสอบวันที่ครบกำหนด</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-checkbox>เลือกวิธีชำระเงินในทุกกรณี</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-checkbox>เลือกเฉพาะวิธีการชำระเงินไม่สำเร็จ</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-checkbox>แสดงรายการบรรทัดรายการเอกสารชำระเงิน</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="panel panel-primary">
    <div class="panel-heading">บัญชีที่ต้องการ</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <label>ผู้ขาย ( จาก / ถึง )</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="InputDate">
            <button class="btn btn-default" type="button">
              <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>