<div class="tabbody">
    <!-- 1 -->
    <div class="panel panel-primary">
        <div class="panel-heading">ต้องการประเภทการรายงานตรวจสอบ</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-12 col-md-1">
                    <input class="form-control" type="checkbox" />
                </div>
                <div class="col-12 col-md-6">
                    <label>ตรวจสอบวันที่ครบกำหนด</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-1">
                    <input class="form-control" type="checkbox" />
                </div>
                <div class="col-12 col-md-6">
                    <label>เลือกวิธีชำระเงินในทุกกรณี</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-1">
                    <input class="form-control" type="checkbox" />
                </div>
                <div class="col-12 col-md-6">
                    <label>เลือกเฉพาะวิธีการชำระเงินไม่สำเร็จ</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-1">
                    <input class="form-control" type="checkbox" />
                </div>
                <div class="col-12 col-md-6">
                    <label>แสดงรายการบรรทัดรายการเอกสารชำระเงิน</label>
                </div>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="panel panel-primary">
        <div class="panel-heading">บัญชีที่ต้องการ</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-12 col-md-2">
                    <label>ผู้ขาย ( จาก / ถึง )</label>
                </div>
                <div class="col-12 col-md-4">
                    <label>จาก</label>
                </div>
                <div class="col-12 col-md-1 ">
                   
                </div>
                <div class="col-12 col-md-4">
                    <label>ถึง</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-2">
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="InputDate">
                        <button class="btn btn-default" type="button">
                            <img src="assets/images/icon/fa-search.svg" width="12px" />
                        </button>
                    </div> 
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-2">
                    
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="InputDate">
                        <button class="btn btn-default" type="button">
                            <img src="assets/images/icon/fa-search.svg" width="12px" />
                        </button>
                    </div> 
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-2">
                    
                </div>
                <div class="col-12 col-md-5">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="InputDate">
                        <button class="btn btn-default" type="button">
                            <img src="assets/images/icon/fa-search.svg" width="12px" />
                        </button>
                    </div> 
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>

