<div class="tabbody">
  <form (keydown.enter)="$event.preventDefault()" [formGroup]="additionLogForm">
    <div class="panel panel-primary">
      <div class="panel-heading pointerCursor" (click)="panleExpanded = !panleExpanded">
        <h3>ต้องการประเภทการรายงานตรวจสอบ
          <span class="pull-right"><i class="material-icons" *ngIf="!panleExpanded">add</i></span>
          <span class="pull-right"><i class="material-icons" *ngIf="panleExpanded">remove</i></span>
        </h3>
      </div>
      <div class="panel-body" *ngIf="panleExpanded">
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-checkbox formControlName="checkBoxDueDate">
              ตรวจสอบวันที่ครบกำหนด</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-checkbox [disabled]="isDisabledCheckBoxPaymentMethodAll" formControlName="checkBoxPaymentMethodAll"
              (change)="checkValidationAdditionLog($event,'paymentMethodAll')">
              เลือกวิธีชำระเงินในทุกกรณี</mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-checkbox [disabled]="isDisabledCheckPaymentMethodUnSuccess"
              formControlName="checkBoxPaymentMethodUnSuccess"
              (change)="checkValidationAdditionLog($event,'paymentMethodUnSuccess')">
              เลือกเฉพาะวิธีการชำระเงินไม่สำเร็จ
            </mat-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <mat-checkbox formControlName="checkBoxDisplayDetail">แสดงรายการบรรทัดรายการเอกสารชำระเงิน</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading pointerCursor" (click)="panleExpanded1 = !panleExpanded1">
        <h3>บัญชีที่ต้องการ
          <span class="pull-right"><i class="material-icons" *ngIf="!panleExpanded1">add</i></span>
          <span class="pull-right"><i class="material-icons" *ngIf="panleExpanded1">remove</i></span>
        </h3>
      </div>
      <div class="panel-body" *ngIf="panleExpanded1">
       
        <div class="row">
          <div class="col-12 col-md-12">
            <button class="btn btn-default pull-right" type="button" (click)="addInputVendor()">
              เพิ่มฟิลด์
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label class="input-head">ผู้ขาย ( จาก / ถึง )</label>
          </div>
        </div>
        <div class="row" *ngFor="let item of listVendor;let i = index">
          <div class="col-12 col-md-5">
            <div class="input-group input-group-lg">
              <input #vendorTaxIdFrom type="text"
                [ngStyle]="{'background-color': !item.vendorTaxIdFrom ?'#fff' : '#fffae6'}"
                [value]="item.vendorTaxIdFrom" class="form-control" (blur)="setVendor(i)">
              <button class="btn btn-default" type="button" (click)="openDialogSearchVendor(i,'vendorTaxIdFrom')">
                <img src="assets/images/icon/fa-search.svg" width="12px" />
              </button>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="input-group input-group-lg">
              <input #vendorTaxIdTo type="text"
                [ngStyle]="{'background-color': !item.vendorTaxIdTo ?'#fff' : '#fffae6'}" [value]="item.vendorTaxIdTo"
                class="form-control" (blur)="setVendor(i)">
              <button class="btn btn-default" type="button" (click)="openDialogSearchVendor(i,'vendorTaxIdTo')">
                <img src="assets/images/icon/fa-search.svg" width="12px" />
              </button>
            </div>
          </div>
          <div class="col-md-2 col-left">
            <button type="button" class="btn btn-danger btn-lg" (click)="deleteInputVendor(i)"
              style="padding:2px 15px;">
              <i class="material-icons" style="font-size:15px;">clear</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>