<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"><b>ข้อจำกัด</b></h1>
<hr>
<div mat-dialog-content class="date_dialog">
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div class="example-item">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="info"> วันที่ประมวลผล </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef class="info"> รหัส </th>
      <td mat-cell *matCellDef="let element"> {{element.pay}} </td>
    </ng-container>

    <ng-container matColumnDef="nextpay">
      <th mat-header-cell *matHeaderCellDef class="info"> สถานะการดำเนินการ </th>
      <td mat-cell *matCellDef="let element"> {{element.nextpay}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
  <div class="row pull-right" style="padding-top: 15px;">
      <div class="col-md-12">
        <button type="button" class="btn btn-success btn-lg">
          <i class="material-icons" style="font-size:15px;">done</i>
        </button>&nbsp;
        <button type="button" class="btn btn-danger btn-lg">
          <i class="material-icons" style="font-size:15px;">clear</i>
        </button>&nbsp;
        <button type="button" class="btn btn-info btn-lg">
          <i class="material-icons" style="font-size:15px;">visibility</i>
        </button>&nbsp;
        <button type="button" class="btn btn-info btn-lg">
          <i class="material-icons" style="font-size:15px;">visibility_off</i>
        </button>&nbsp;
        <button type="button" class="btn btn-info btn-lg">
          <i class="material-icons" style="font-size:15px;">local_printshop</i>
        </button>
      </div>
  </div>