<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">คัดลอก</h1>
<div mat-dialog-content>
<div class="row">
    <div class="col-md-12 text-left">
      <label class="text-black">การอ้างอิง</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="InputDate">
    </div>
  </div>
  <div class="row margin-tb-size ">
    <div class="col-md-12 text-left">
      <label class="text-black">วันที่ประมวลผล</label>
    </div>
    <div class="col-md-12">
      <div class="input-group">
      <input type="text" class="form-control" id="InputDate">
      <button class="btn btn-default" type="button" (click)="OpenDiaDate()">
        <img src="assets/images/icon/calendar.svg" width="12px" />
      </button>
      </div> 
    </div>
  </div>
  <div class="row margin-tb-size ">
    <div class="col-md-12 text-left">
      <label class="text-black">รหัส</label>
    </div>
    <div class="col-md-12">
      <input type="text" class="form-control" id="InputDate">
    </div>
  </div>
  <div class="row margin-tb-size ">
    <div class="col-md-12 text-left">
      <label class="text-black">การพัฒนา</label>
    </div>
    <div class="col-md-12">
      <div class="custom-control custom-checkbox checkbox-xl">
        <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
        <label class="custom-control-label" for="checkbox-3">รายละเอียดวันที่ปรับปรุง</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <button type="button" class="btn btn-success btn-lg" style="width: 100%;">
          <i class="material-icons" style="font-size:15px;">done</i>
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger btn-lg" style="width: 100%;">
          <i class="material-icons" style="font-size:15px;">clear</i>
        </button>  
      </div>
    </div>
  </div>
</div>