<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
<div class="row">
    <div class="col-md-12 text-left">
      <label class="text-black">การอ้างอิง</label>
    </div>
    <div class="col-md-12">
      <div class="input-group input-group-lg">
      <input type="text" class="form-control" id="InputDate">
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <label class="text-black">วันที่ประมวลผล</label>
    </div>
    <div class="col-md-12">
      <div class="input-group input-group-lg">
      <input type="text" class="form-control" id="InputDate">
      <button class="btn btn-default" type="button">
        <img src="assets/images/icon/calendar.svg" width="12px" />
      </button>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <label class="text-black">รหัส</label>
    </div>
    <div class="col-md-12">
      <div class="input-group input-group-lg">
      <input type="text" class="form-control" id="InputDate">
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-left">
      <label class="text-black">การพัฒนา</label>
    </div>
    <div class="col-md-12">
      
    </div>
  </div>
</div>