<div class="content-border">
    <span class="topic-header"> <strong> เกณฑ์การเลือก </strong> </span>

    <div class="row">
        <div class="col-12 col-md-2">
            <label>ชื่อฟิวด์</label>
        </div>
        <div class="col-12 col-md-6">
            <input class="form-control" type="text" maxlength="10" />
        </div>
        <div class="col-12 col-md-1 ">
            <button class="btn btn-info" type="button">
                <img src="assets/images/icon/fa-search.svg" width="12px" />
            </button>
        </div>
        <div class="col-12 col-md-3">
            <input class="form-control" type="checkbox" />
            <span>ไม่รวมค่า</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <label>มูลค่า</label>
        </div>
        <div class="col-12 col-md-10">
            <input class="form-control" type="textareax" maxlength="10" />
        </div>
        <div class="col-12 col-md-2">
        </div>
        <div class="col-12 col-md-10">
            <input class="form-control" type="textareax" maxlength="10" />
        </div>

    </div>
</div>