<div class="tabbody">
  <div class="panel panel-primary">
    <div class="panel-heading">เกณฑ์การเลือก
      <!-- <button class="btn btn-default pull-right" type="button" (click)="add()">
        เพิ่มฟิลด์
      </button> -->
    </div>
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="independentFormCreate">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10">
            <mat-label>ชื่อฟิลด์</mat-label>
            <div class="input-group input-group-lg">
              <input readonly type="text" class="form-control" formControlName="filedNameOne">
              <button class="btn btn-default" type="button" (click)="openDialogSearchFiled('filedNameOne')">
                <img src="assets/images/icon/menu.svg" width="12px" />
              </button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="input-group input-group-lg">
              <mat-checkbox formControlName="checkBoxOne" >option</mat-checkbox>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <input type="text" class="form-control" formControlName="conditionFiledOne">
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <mat-label>ชื่อฟิลด์</mat-label>
            <div class="input-group input-group-lg">
              <input readonly type="text" class="form-control" formControlName="filedNameTwo">
              <button class="btn btn-default" type="button" (click)="openDialogSearchFiled('filedNameTwo')">
                <img src="assets/images/icon/menu.svg" width="12px" />
              </button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="input-group input-group-lg">
              <mat-checkbox formControlName="checkBoxTwo" >option</mat-checkbox>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <input type="text" class="form-control" formControlName="conditionFiledTwo">
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <mat-label>ชื่อฟิลด์</mat-label>
            <div class="input-group input-group-lg">
              <input readonly type="text" class="form-control" formControlName="filedNameThree">
              <button class="btn btn-default" type="button" (click)="openDialogSearchFiled('filedNameThree')">
                <img src="assets/images/icon/menu.svg" width="12px" />
              </button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="input-group input-group-lg">
              <mat-checkbox formControlName="checkBoxThree" >option</mat-checkbox>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <input type="text" class="form-control" formControlName="conditionFiledThree">
          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- <div>
          <div class="col-md-11" style="padding-top: 20px;">
            <mat-form-field class="indepen_form">
              <mat-label>ชื่อฟิลด์</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle1()">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <ng-container *ngIf="show1">
              <input type="text" class="form-control" id="InputDate">
            </ng-container>
          </div>
        </div>

        <div>
          <div class="col-md-11" style="padding-top: 20px;">
            <mat-form-field class="indepen_form">
              <mat-label>ชื่อฟิลด์</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle2()">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <ng-container *ngIf="show2">
              <input type="text" class="form-control" id="InputDate">
            </ng-container>
          </div>
        </div> -->
        
        <!-- <div *ngFor="let container of containers">
          <div class="col-md-11" style="padding-top: 20px;">
            <mat-form-field class="indepen_form">
              <mat-label>ชื่อฟิลด์</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle3()">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1" style="padding-top: 20px;">
            <button type="button" class="btn btn-danger btn-lg" (click)="del()">
              <i class="material-icons" style="font-size:15px;">clear</i>
            </button>
          </div>
          <div class="col-md-11">
            <ng-container *ngIf="show3">
              <input type="text" class="form-control" id="InputDate">
            </ng-container>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>