<div class="tabbody">
    <div class="panel panel-primary">
        <div class="panel-heading">เกณฑ์การเลือก</div>
        <div class="panel-body">

            <!--div class="row">
                <div class="col-md-6 col-left">
                    <label class="text-black">ชื่อฟิวด์</label>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" id="InputDate">
                        <button class="btn btn-default" type="button">
                            <img src="assets/images/icon/fa-search.svg" width="12px" />
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-left" style="padding-top: 18px;">
                    <div class="custom-control custom-checkbox checkbox-xl">
                        <input type="checkbox" class="custom-control-input" id="checkbox-3" checked="">
                        <label class="custom-control-label" for="checkbox-3">ไม่รวมค่า</label>
                    </div>
                </div>
            </!--div>
            <div-- class="row margin-tb-size">
                <div class="col-md-6 col-left">
                    <label class="text-black">มูลค่า</label>
                    <input class="form-control" type="textareax" maxlength="10" />
                    <input class="form-control" type="textareax" maxlength="10" />
                </div>
            </div-->
            <div>
            <h4>ชื่อฟิลด์</h4>
            <mat-form-field class="indepen_form">
            <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle()">
                {{food.viewValue}}
                
            </mat-option>
            </mat-select>
            </mat-form-field>
            </div>
            <ng-container *ngIf="show">
                <input type="text" class="form-control" id="InputDate">
            </ng-container>
            <br>
            <div>
            <h4>ชื่อฟิลด์</h4>
            <mat-form-field class="indepen_form">
            <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle1()">
                {{food.viewValue}}
                
            </mat-option>
            </mat-select>
            </mat-form-field>
            </div>
            <ng-container *ngIf="show1">
                <input type="text" class="form-control" id="InputDate">
            </ng-container>
            <br>
            <div>
                <h4>ชื่อฟิลด์</h4>
                <mat-form-field class="indepen_form">
                <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle2()">
                    {{food.viewValue}}
                    
                </mat-option>
                </mat-select>
                </mat-form-field>
                </div>
                <ng-container *ngIf="show2">
                    <input type="text" class="form-control" id="InputDate">
                </ng-container>
                <br>
                
                    <div *ngFor="let container of containers">
                        <h4>ชื่อฟิลด์</h4>
                        <mat-form-field class="indepen_form">
                        <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value" (click)="toggle3()">
                            {{food.viewValue}}
                            
                        </mat-option>
                        </mat-select>
                        </mat-form-field>
                        <ng-container *ngIf="show3">
                            <input type="text" class="form-control" id="InputDate">
                        </ng-container>
                        <button type="button" class="btn btn-danger btn-lg" style="width: 100%;" (click)="del()">
                            <i class="material-icons" style="font-size:15px;">clear</i>
                          </button> 
                        </div>
            <div id="content">
            <button mat-button (click)="add()">เพิ่มฟิลด์</button>
            </div>
        </div>
    </div>
</div>
