<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"><b>ข้อจำกัด</b></h1>
<hr>
<div mat-dialog-content class="date_dialog">
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">  
    <div class="example-item">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef class="info"> คำที่ค้นหา </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef class="info"> Flag </th>
      <td mat-cell *matCellDef="let element"> {{element.pay}} </td>
    </ng-container>

    <ng-container matColumnDef="nextpay">
      <th mat-header-cell *matHeaderCellDef class="info"> เมือง </th>
      <td mat-cell *matCellDef="let element"> {{element.nextpay}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="info"> ชื่อ</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="seller">
      <th mat-header-cell *matHeaderCellDef class="info"> ผู้ขาย </th>
      <td mat-cell *matCellDef="let element"> {{element.seller}} </td>
    </ng-container>

    <ng-container matColumnDef="code1">
      <th mat-header-cell *matHeaderCellDef class="info"> รหัส </th>
      <td mat-cell *matCellDef="let element"> {{element.code1}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>