<button class="close" mat-button (click)="onNoClick()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane"><b>Search</b></h1>
<hr>
<div mat-dialog-content >
  <div class="content-box">
    <div *ngIf="documentDetail" class="content-item">
      <div class="content-detail mb-4">
        <div class="row">
          <div class="col-12 col-md-2"><label class="text-black input-head">เลขที่เอกสาร :</label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ documentDetail.docNo}}</p> -->
            <p class="c-blue">test</p>
          </div>
          <div class="col-12 col-md-2"><label class="text-black input-head">รหัสบริษัท :</label></div>
          <div class="col-12 col-md-2">
            <p class="c-blue">{{ documentDetail.compCode }}</p>
          </div>
          <div class="col-12 col-md-2"><label class="text-black input-head">ปีบัญชี :</label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ documentDetail.fiscalYear }}</p> -->
            <p class="c-blue">test</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-2"><label class="text-black input-head">ว/ทเอกสาร :</label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ docNoFromSearchDetail }}</p> -->
            <p class="c-blue">test</p>
          </div>
          <div class="col-12 col-md-2"><label class="text-black input-head">วันผ่านรายการ :</label></div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ docStatus }}</p> -->
            <p class="c-blue">test</p>
          </div>
          <div class="col-12 col-md-2"><label class="text-black input-head">งวด :</label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ docNoFromSearchDetail }}</p> -->
            <p class="c-blue">test</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-2"><label class="text-black input-head">เอก.อิง :</label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ docNoFromSearchDetail }}</p> -->
            <p class="c-blue">test</p>
          </div>
          <div class="col-12 col-md-2"><label class="text-black input-head">สง.ในเอกสาร : </label>
          </div>
          <div class="col-12 col-md-2">
            <!-- <p class="c-blue">{{ docNoFromSearchDetail }}</p> -->
            <p class="c-blue">test</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <table class="table-normal table-result">
        <tr>
          <th>รายการ</th>
          <th class="sort">PK</th>
          <th class="sort">บัญชี</th>
          <th class="sort">ข้อความแบบสั้นทาง บ/ช</th>
          <th class="sort">จำนวนเงินใน LC</th>
          <th class="sort">ศ.ต้นทุน</th>
          <th class="sort">หน่วย บ/จ</th>
          <th class="sort">วันคิ</th>
          <th class="sort">Tr.Prt</th>
          <th class="sort">Ref.ke</th>
          <th class="sort">Ref.ke</th>
          <th class="sort">คีย์การอ</th>
        </tr>
        <tbody>
          
          <tr *ngFor="let item of listDocument ; let i = index">
            <td>{{ ((p - 1) * constant.PER_PAGINATION) + (i + 1) }}</td>
            <td>{{ item.postingKey }}</td>
            <td>{{ item.account  }}</td>
            <td>{{ item.lineDescription  }}</td>
            <td>{{ item.amount  }}</td>
            <td>{{ item.costCenter  }}</td>
            <td>{{ item.paymentCenter  }}</td>
            <td>{{ item.lineDescription  }}</td>
            <td>{{ item.lineDescription  }}</td>
            <td>{{ item.lineDescription  }}</td>
            <td>{{ item.lineDescription  }}</td>
            <td>{{ item.lineDescription  }}</td>

          </tr>
        </tbody>
        <!-- <tfoot>
          <tr>
            <td colspan="8"></td>
            <td class="summary">รวมยอดเดบิต</td>
            <td class="summary-result text-right">{{ sumCostDebit | number: '1.2-2' }}</td>
          </tr>
          <tr>
            <td colspan="8"></td>
            <td class="summary">รวมยอดเครดิต</td>
            <td class="summary-result text-right" *ngIf="sumCostCredit!==0"> - {{ sumCostCredit | number: '1.2-2' }}
            </td>
            <td class="summary-result text-right" *ngIf="sumCostCredit===0"> {{ sumCostCredit | number: '1.2-2' }}
            </td>
          </tr>
        </tfoot> -->
      </table>
      <!-- <pagination-controls previousLabel="<" nextLabel=">" (pageChange)="p = $event"></pagination-controls> -->
    </div>




  </div>
    

</div>
