<button class="close" mat-button (click)="closeDialog()">X</button>
<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle><b>ข้อจำกัด</b></h1>
<hr>
<div class="row">
  <div class="col-md-8">
    <input type="text" [ngStyle]="{'background-color': !search1 ?'#fff' : '#f2f2f2'}" class="form-control"
      #searchValue />
    <p class="text-red">{{ errorMessage }}</p>
  </div>

  <div class="col-12 col-md-4 d-flex">
    <button mat-icon-button class="btn btn-info" (click)="searchByValue(searchValue)">
      <span style="font-size:15px;">เริ่มค้นหา</span>
    </button>
    <div class="flex-1 tooltip-box">
      <img src="assets/images/icon/question.png" />
      <div class="tooltip-text">
        <p> <b> ตัวอย่าง </b> </p>
        <p> - ต้องการหา เลข ที่ตามหลังด้วย 011 : <b>พิมพ์ *011</b> </p>
        <p> - ต้องการหา เลข ที่ขึ้นต้นด้วย 011 : <b>พิมพ์ 011* </b> </p>
        <p> - ต้องการหา เลข ที่ขึ้นต้นด้วย 01 ลงท้ายด้วย 1 : <b>พิมพ์ 01*1</b> </p>
      </div>
    </div>
  </div>
</div>


<div mat-dialog-content class="date_dialog">
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div class="example-item">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="choose">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info"> เลือก </th>
          <td mat-cell *matCellDef="let element" (click)="chooseDataSearch(element)">
            <mat-icon class="icon pointer">folder_open</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info"> วันที่ประมวลผล </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentDate | thaidate}} </td>
        </ng-container>

        <ng-container matColumnDef="paymentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info"> รหัส </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentName}} </td>
        </ng-container>

        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="info"> สถานะการดำเนินการ </th>
          <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="row.highlighted = !row.highlighted"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
      </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
<div class="row pull-right" style="padding-top: 15px;">
  <div class="col-md-12">
    <button type="button" class="btn btn-success btn-lg">
      <i class="material-icons" style="font-size:15px;">done</i>
    </button>&nbsp;
    <button type="button" class="btn btn-danger btn-lg">
      <i class="material-icons" style="font-size:15px;">clear</i>
    </button>&nbsp;
    <button type="button" class="btn btn-info btn-lg">
      <i class="material-icons" style="font-size:15px;">visibility</i>
    </button>&nbsp;
    <button type="button" class="btn btn-info btn-lg">
      <i class="material-icons" style="font-size:15px;">visibility_off</i>
    </button>&nbsp;
    <button type="button" class="btn btn-info btn-lg">
      <i class="material-icons" style="font-size:15px;">local_printshop</i>
    </button>
  </div>
</div>