<div class="row">
  <div class="col-md-12">
    <mat-toolbar color="primary">
      <h3 class="title">รายการการชำระเงิน</h3>
    </mat-toolbar>
  </div>
</div>
 <div class="body">
  <div class ="container-fluid">
    <div class="row">
      <div class="col-md-4 col-left">
        <h4 class="text-black"><b>วันที่ประมวลผล</b></h4>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" id="InputDate" [matDatepicker]="myDatepicker">
          <button class="btn btn-default" type="button" mat-raised-button (click)="myDatepicker.open()">
            <img src="assets/images/icon/calendar.svg" width="12px">
            <mat-datepicker #myDatepicker></mat-datepicker>
          </button>
          </div>
      </div>
      <div class="col-md-4">
        <h4 class="text-black"><b>การกำหนด</b></h4>
         <div class="input-group input-group-lg">
        <input type="text" class="form-control" >
        <button class="btn btn-default" type="button"(click)="test()" >
          <img src="assets/images/icon/menu.svg" width="12px" />
        </button>
        </div>
      </div>
    </div>
    <br>
    <!-- Material Tab -->
    <div class="row">
        <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
              <mat-tab label="สถานะ">
               <app-status></app-status>
              </mat-tab>
              <mat-tab label="พาราฯ">
                <app-parameter  [parameter]="listObjectParameterTab" (messageFromParameter)="receiveObjectFromParameter($event)"></app-parameter>
              </mat-tab>
              <mat-tab label="การเลือกอิสระ">
                <app-option-independent></app-option-independent>
              </mat-tab>
              <mat-tab label="log เพิ่มเติม">
                <app-option-additional-log></app-option-additional-log>
              </mat-tab>
              <!--mat-tab label="รายงาน/สื่อกลางข้อมูล">
              </!--mat-tab-->
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
        </div>
    </div>
  </div>
</div>