  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <!--button mat-button class="app-menu-button">
          <i class="material-icons">menu</i>
        </!--button-->
        <span class="title">รายการการชำระเงิน</span>
      </mat-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <label class="text-black"> รหัสหน่วยงาน </label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="InputDate">
      <button class="btn btn-info" type="button">
        <img src="assets/images/icon/calendar.svg" width="12px" />
    </div>
    <div class="col-md-2">
      <label class="text-black"> รหัสหน่วยงาน </label>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" id="InputConfig">
      <button class="btn btn-info" type="button">
        <img src="assets/images/icon/menu.svg" width="12px" />
    </div>
  </div>
  <div class="row">
      <!-- Material Tab -->
      <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="สถานะ">
            </mat-tab>
            <mat-tab label="พาราฯ">
            </mat-tab>
            <mat-tab label="การเลือกอิสระ">
            </mat-tab>
            <mat-tab label="log เพิ่มเติม">
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
      </div>
  </div>
  