  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <!--button mat-button class="app-menu-button">
          <i class="material-icons">menu</i>
        </!--button-->
        <span class="title">รายการการชำระเงิน</span>
      </mat-toolbar>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <label class="text-black">วันที่ประมวลผล</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" id="InputDate">
          <button class="btn btn-info" type="button">
            <img src="assets/images/icon/calendar.svg" width="12px" />
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <label class="text-black">การกำหนด</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" id="InputConfig">
          <button class="btn btn-info" type="button">
            <img src="assets/images/icon/menu.svg" width="12px" />
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Material Tab -->
      <div class="col-md-12">
        <mat-card class="hometab">
          <mat-card-content>
            <mat-tab-group dynamicHeight="true">
              <mat-tab label="สถานะ">
                <app-status></app-status>
              </mat-tab>
              <mat-tab label="พาราฯ">
                <app-parameter></app-parameter>
              </mat-tab>
              <mat-tab label="การเลือกอิสระ">
                <app-option-independent></app-option-independent>
              </mat-tab>
              <mat-tab label="log เพิ่มเติม">
                <app-option-additional-log></app-option-additional-log>
                <!-- <app-freedom></app-freedom> -->
              </mat-tab>
              <!-- <mat-tab label="log เพิ่มเติม">
                <app-report></app-report>
              </mat-tab> -->
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>