<form [formGroup]="parameterForm">
  <div class="tabbody">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-left margin-tb-size">
          <label class="text-black input-head"><b>วันที่ผ่านรายการ</b></label>
          <div class="input-group input-group-lg">
            <input type="text"  [ngStyle]="{'background-color': !parameterForm.controls.postDate.value ?'#fff' : '#fffae6'}" class="form-control date-mat-input" formControlName="postDate"
              [matDatepicker]="myDatepicker">
            <button class="btn btn-default" type="button" mat-raised-button (click)="myDatepicker.open()">
              <img src="assets/images/icon/calendar.svg" width="12px">
              <mat-datepicker #myDatepicker></mat-datepicker>
            </button>
          </div>
        </div>
        <div class="col-md-3 col-left margin-tb-size">
          <label class="text-black input-head">บันทึกเอกสาร</label>
          <div class="input-group input-group-lg">
            <input type="text"  [ngStyle]="{'background-color': !parameterForm.controls.saveDate.value ?'#fff' : '#fffae6'}" class="form-control date-mat-input" formControlName="saveDate"
              [matDatepicker]="myDatepicker2">
            <button class="btn btn-default" type="button" mat-raised-button (click)="myDatepicker2.open()">
              <img src="assets/images/icon/calendar.svg" width="12px">
              <mat-datepicker #myDatepicker2></mat-datepicker>
            </button>
          </div>
        </div>
        <div class="col-md-3 col-left margin-tb-size">
          <label class="text-black input-head">วิธีชำระเงิน</label>
          <div class="input-group input-group-lg">
            <input type="text"  [ngStyle]="{'background-color': !parameterForm.controls.paymentMethod.value ?'#fff' : '#fffae6'}" class="form-control" formControlName="paymentMethod">
            <button class="btn btn-default" type="button" (click)="openDialogSearchPaymentMethod()">
              <img src="assets/images/icon/menu.svg" width="12px" />
            </button>
          </div>
        </div>
        <div class="col-md-3 col-left margin-tb-size">
          <label class="text-black input-head">วันชำระถัดไป</label>
          <div class="input-group input-group-lg">
            <input type="text"  [ngStyle]="{'background-color': !parameterForm.controls.paymentDate.value ?'#fff' : '#fffae6'}" class="form-control date-mat-input" formControlName="paymentDate"
              [matDatepicker]="myDatepicker4">
            <button class="btn btn-default" type="button" mat-raised-button (click)="myDatepicker4.open()">
              <img src="assets/images/icon/calendar.svg" width="12px">
              <mat-datepicker #myDatepicker4></mat-datepicker>
            </button>
          </div>
        </div>
      </div>
      <div class="tabbody">
        <div class="panel panel-primary">
          <div class="panel-heading pointerCursor" (click)="panleExpanded = !panleExpanded">
            <h3>รหัสบริษัท
              <span class="pull-right"><i class="material-icons" *ngIf="!panleExpanded">add</i></span>
              <span class="pull-right"><i class="material-icons" *ngIf="panleExpanded">remove</i></span>
            </h3>
          </div>
          <div class="panel-body" *ngIf="panleExpanded">
            <cdk-virtual-scroll-viewport itemSize="50" class="para-textarea">
              <div class="example-item">
                <textarea class="form-control"  [ngStyle]="{'background-color': !parameterForm.controls.companyCode.value ?'#fff' : '#f2f2f2'}" formControlName="companyCode" rows="9"></textarea>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading pointerCursor" (click)="panleExpanded1 = !panleExpanded1">
              <h3>บัญชี
                <span class="pull-right"><i class="material-icons" *ngIf="!panleExpanded1">add</i></span>
                <span class="pull-right"><i class="material-icons" *ngIf="panleExpanded1">remove</i></span>
              </h3>
            </div>
            <div class="panel-body" *ngIf="panleExpanded1">
              <button class="btn btn-default pull-right" type="button" (click)="addInputVendor()">
                เพิ่มฟิลด์
              </button>
              <div class="row">
                <div class="col-12 col-md-5">
                  <label class="input-head">ผู้ขาย </label>
                </div>
                <div class="col-12 col-md-5">
                  <label class="input-head">ถึง </label>
                </div>
              </div>
              <div class="row" *ngFor="let item of listVendor;let i = index">
                <div class="col-12 col-md-5">
                  <div class="input-group input-group-lg">
                    <input #vendorTaxIdFrom type="text"  [ngStyle]="{'background-color': !item.vendorTaxIdFrom ?'#fff' : '#fffae6'}" [value]="item.vendorTaxIdFrom" class="form-control"
                      (blur)="setVendor(i)">
                    <button class="btn btn-default" type="button" (click)="openDialogSearchVendor(i,'vendorTaxIdFrom')">
                      <img src="assets/images/icon/fa-search.svg" width="12px" />
                    </button>
                  </div>
                </div>
                <div class="col-12 col-md-5">
                  <div class="input-group input-group-lg">
                    <input #vendorTaxIdTo type="text"  [ngStyle]="{'background-color': !item.vendorTaxIdTo ?'#fff' : '#fffae6'}" [value]="item.vendorTaxIdTo" class="form-control"
                      (blur)="setVendor(i)">
                    <button class="btn btn-default" type="button" (click)="openDialogSearchVendor(i,'vendorTaxIdTo')">
                      <img src="assets/images/icon/fa-search.svg" width="12px" />
                    </button>
                  </div>
                </div>
                <div class="col-md-2 col-left">
                  <button type="button" class="btn btn-danger btn-lg" (click)="deleteInputVendor(i)" 
                  style="padding:2px 15px;">
                    <i class="material-icons" style="font-size:15px;">clear</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>