/* You can add global styles to this file, and also import other style files */
@import "variables.scss";

// Main
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.42857143;
  // font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
  background-color: whitesmoke;
}
// color
.c-blue{
  color:#007bff;
}
// Class
.body {
  padding: 10px;
}

.tabbody {
  padding-top: 15px;
}

.headmenu {
  background: #0088cc;
  padding: 10px;
}

.col-left {
  text-align: left;
}

.col-right {
  text-align: right;
}

.col-center {
  text-align: center;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.margin-tb-size {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-head {
  font-size: 15px;
  font-weight: bold;
}

.pointerCursor {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
}

table {
  width: 100%;
}

.date_dialog {
    width: 1000px;
    height: auto;
  }

.example-viewport {
  height: 400px;
  border: 0px solid black;
}

.para-textarea  {
  height: 235px;
  border: 0px solid black;
}

// Checkbox
.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}

.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 12px;
  padding-left: 12px;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-weight: bold;
  font-size: 15px;
}

// Customize - Mat
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 100;
}

.custom-control-label::before,
.custom-control-label::after {
  top: .8rem;
  width: 1.25rem;
  height: 1.25rem;
}

.mat-toolbar.mat-primary {
  background: #0088cc;
  color: #fff;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffd335;
}

.mat-tab-label-active {
  background-color: #ffca00;
  color: #ffffff;
  border-radius: 5px;
}

.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 18px 'Kanit', sans-serif, 'Roboto', sans-serif;
  margin: 0;
}

.mat-tab-group {
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
}

.mat-tab-label,
.mat-tab-link {
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.mat-checkbox {
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
}

.mat-dialog-title {
  font: 18px 'Kanit', sans-serif, 'Roboto', sans-serif;
}

.mat-calendar-body-selected {
  background-color: #ffd335;
  color: #fff;
}

.mat-card {
  font-family: 'Kanit', sans-serif, 'Roboto', sans-serif;
}

// Form
.form-control {
  font-size: 16px;
}

.form-control .borderradius {
  border-radius: 15px;
}

.form-control.date-mat-input {
  pointer-events: none;
}

// table
table {
  text-align: left;
  position: relative;
  font-size: 13px;
  th {
    position:sticky !important;
    z-index: 999 !important;
    top: 0;
  }
  th.sort {
    cursor: pointer;
    // text-decoration: underline;
    // font-weight: bold;
  }
  input[type="checkbox"] {
    width: auto;
    margin: 0 auto;
  }
  td:last-child,
  th:last-child {
    padding-right: 5px !important;
  }
  th, td {
    padding: 5px 5px;
  }
  thead .info{
    background-color: #e4f5ff;
    font-size: 16px;
    font-weight: bold;
  }
  td:last-child,
  th:last-child {
    padding-right: 5px !important;
  }
  th,
  td {
    padding: 5px 5px;
  }
}

table.table-normal {
  width: 100%;
  th {
    padding: 5px 5px;
    background-color: $header-modal-color;
    color: white;
    border: 1px solid white;
    text-align: center;
  }
  tr:nth-child(odd) {
    background-color: $tr-odd;
  }
  td {
    padding: 5px 5px;
  }
  tfoot {
    td {
      background-color: #F5F5F5;
    }
    td.summary {
      color: white;
      background-color: #4b6d96;
    }
    td.summary-result {
      color: black;
      background-color: #ffff99;
    }
  }
}

table.table-result {
  width: 100%;
  text-align: center;
  th {
    background-color: #e4f5ff;
    color: black;
    padding: 5px 11px 5px 11px;
  }
  tbody {
    td {
      background-color: white;
      color: black;
      padding: 5px 0px;
    }
  }
  tfoot {
    td {
      background-color: #F5F5F5;
      padding: 5px 0px;
    }
    td.summary {
      text-align: right;
      color: white;
      background-color: #4b6d96;
      padding: 5px;
    }
    td.summary-result {
      text-align: right;
      color: black;
      padding: 5px;
      background-color: #ffff99;
    }
  }
}

table.table-presave {
  border: 1px solid #B4C3F6;
  tr th {
    border: 1px solid #B4C3F6;
    color: black;
    background-color: #B4C3F6;
  }
}

table.table-h-underline {
  th {
    text-decoration: underline;
  }
}

table.table-padding {
  tr {
    td {
      padding: 0px 5px;
    }
  }
}

table.table-search {
  tr {
    th:nth-child(3) {
      text-align: left;
    }
  }
}

table.table-search {
  th.pointer {
    text-decoration: underline;
    font-weight: bold;
  }
}

table.bg-light-blue {
  th {
    background-color: $bg-light-blue;
  }
  tfoot {
    td.summary {
      text-align: left;
      background-color: #1E5691;
    }
    td.summary-result {
      text-align: right;
      background-color: #F2F5A9;
    }
  }
}

.table-set-tax {
  td {
    padding: 10px 0px;
    background-color: white !important;
  }
  .radio-inline {
    justify-content: left;
    span {
      width: auto;
      padding-right: 15px;
    }
  }
}

.my-table-collpse {
  min-width: 991px;
  th {
    background-color: #ccffff;
  }
  th:nth-child(1) {
    text-align: center;
  }
  tbody tr td:nth-child(1) {
    padding-left: 10px;
  }
  tbody tr td:nth-child(2),
  th:nth-child(2) {
    text-align: right;
  }
  tbody tr:hover td {
    background: #E5E8E8;
  }
  tbody tr.tr-collapse:hover td {
    background: #F4F6F6;
  }
  tbody tr td:first-child {
    text-align: left;
    cursor: pointer;
  }
  tbody tr.first-row td {
    background: #31cbd1;
  }
  tbody tr.second-row td,
  tbody tr.second-row td,
  tbody tr.second-row td {
    background: #fdff99;
  }
  tbody tr.third-row td {
    background: #fdfe00;
  }
  tbody tr.forth-row td {
    background: #cdffc8;
  }
  tbody tr.fifth-row td {
    background: #339866;
    color: white;
  }
  tbody tr.tr-collapse td:nth-child(7) {
    text-align: left;
    padding-left: 10px;
  }
  th:nth-child(-n + 6),
  tbody tr td:nth-child(-n + 6) {
    border-right: 1.5px solid #4D4C49;
  }
  th:nth-child(2),
  tbody tr td:nth-child(2) {
    padding-right: 10px;
  }
  tbody .tr-collapse {
    td {
      background-color: white !important;
    }
  }
}

.table-overflow-x {
  overflow-x: auto;
}

.table-responsive {
  // width: calc(100% - 230px);
}

span.break-word-text {
  word-break: break-word;
}

.box-readonly-input {
  input {
    background-color: #e4e7ea !important;
    pointer-events: none;
  }
  label {
    color: black !important;
  }
}
