/* You can add global styles to this file, and also import other style files */

// Main
html, body { height: 100%; }
body { 
    margin: 0; 
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: whitesmoke;
}
// Class
.body {
    padding: 20px;
}
.tabbody {
    padding-top: 20px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}s
// Customize
.mat-toolbar.mat-primary {
    background: #0088cc;
    color: #fff;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #0088cc;
}

.content-border {
    border: 1px solid #85929E;
    position: relative;
    padding: 20px 10px;
    width: 100%;
    margin-top: 10px;
    span.topic-header {
      font-family: 'SarabunExtraBold';
      position: absolute;
      top: -11px;
      background: white;
      label {
        font-size: 13px;
      }
    }
  }
