/* You can add global styles to this file, and also import other style files */

// Main
html, body { height: 100%; }
body { 
    margin: 0; 
    font-size: 14px;
    line-height: 1.42857143;
    // font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-family: 'Kanit', sans-serif,'Roboto', sans-serif;
    background-color: whitesmoke;
}
// Class
.body {
    padding: 20px;
}
.tabbody {
    padding-top: 20px;
}
.headmenu {
    background: #42578c;
    padding: 10px;
}
.col-left {
    text-align: left;
}
  .col-right {
    text-align: right;
}
  .col-center {
    text-align: center;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.margin-tb-size {
    margin-top: 15px;
    margin-bottom: 10px;
}
// Checkbox
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}
.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}
.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}
.checkbox-xl .custom-control-label {
    padding-top: 12px;
    padding-left: 12px;
}

// Customize
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
.mat-toolbar.mat-primary {
    background: #0088cc;
    color: #fff;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #0088cc;
}
.custom-control-label::before, 
.custom-control-label::after {
top: .8rem;
width: 1.25rem;
height: 1.25rem;
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: 18px 'Kanit', sans-serif,'Roboto', sans-serif;
    margin: 0;
}
.mat-tab-group {
    font-family:'Kanit', sans-serif,'Roboto', sans-serif;
}
.mat-tab-label, .mat-tab-link {
    font-family:'Kanit', sans-serif,'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.mat-checkbox {
    font-family:'Kanit', sans-serif,'Roboto', sans-serif;
}
.mat-dialog-title {
    font: 18px 'Kanit', sans-serif,'Roboto', sans-serif;
}
.mat-calendar-body-selected {
    background-color: #ffd335;
    color: #fff;
}
.form-control {
    font-size: 14px;
}
.form-control .borderradius {
    border-radius: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
}

.date_dialog {
    width: 1000px;
    height: 400px;
  }