<cdk-virtual-scroll-viewport *ngIf="listDocument.length >0 && listDocument != null" itemSize="50" class="example-viewport">
    <table class="table-normal table-result" >
      <tr>
        <th>รายการ</th>
        <th class="sort">อนุมัติ</th>
        <th class="sort">ไม่อนุมัติ</th>
        <th class="sort pointer" (click)="sortData('accDocNo')">Err WTinfo</th>
        <th class="sort pointer" (click)="sortData('fiscYear')">หัก</th>
        <th class="sort ">ประเภท</th>
        <th class="sort pointer" (click)="sortData('docType')">เลขเอกสาร</th>
        <th class="sort ">ปี</th>
        <th class="sort pointer" (click)="sortData('paymentMethod')">เลขอ้างอิง</th>

        <th class="sort pointer" (click)="sortData('amount')">การอ้างอิง</th>
        <th class="sort">ว/ท เอกสาร</th>
        <th class="sort">Posting Date</th>
        <th class="sort">Test1</th>
        <th class="sort">Test2</th>
        <th class="sort">Test3</th>
        <th class="sort">Test4</th>
        <th class="sort">Test5</th>
        <th class="sort">Test6</th>
        <th class="sort">Test7</th>
        <th class="sort">Test8</th>
        <th class="sort">Test9</th>
        <th class="sort">Test10</th>
        <th class="sort">Test11</th>
        <th class="sort">Test12</th>
        <th class="sort">Test13</th>
        <th class="sort">Test14</th>
        <th class="sort">Test15</th>
        <th class="sort">Test16</th>
        <th class="sort">Test17</th>
        <th class="sort">Test18</th>
        <th class="sort">Test19</th>
        <th class="sort">Test20</th>
      </tr>
      <tr *ngFor="let document of listDocument ; let i = index">
        <!-- <td class="text-center">
        <img src="assets/images/icon/record.gif" class="icon pointer"
          (click)="viewDocument(document.accDocNo, document.fiscYear)" />
      
      </td> -->
        <td class="text-left">{{ i+1 }}</td>
        <td class="text-center">
          <input type="checkbox" [checked]="document.approve" (click)="onClickCheckedDocument(i, 'approved')" />
        </td>
        <td class="text-center">
          <input type="checkbox" [checked]="document.notApprove"
            (click)="onClickCheckedDocument(i, 'notApprove')" />
        </td>
        <!-- <td> <input class="text-right" class="col-12 col-md-5"  #reasonInput [value]=document.reason (blur)="setReasonIntoDocument(i,document)"/></td> -->
        <!-- <td class="td-not-approve text-center">
        <input type="checkbox" data-toggle="collapse" [attr.data-target]="'#notApprove' + i"
          [checked]="document.notApprove" (click)="onClickCheckedDocument(i, 'notapproved')" />
        <div class="collapse box-not-approve" [ngClass]="{ 'd-none show': isBoxNotApproveShow }"
          [attr.id]="'notApprove' + i" data-parent="#groupRowCollapse">
          <label class="text-underline-red"> เหตุผลที่ไม่อนุมัติ </label>
          <input type="text" #reasonInput />
          <button type="button" data-toggle="collapse" [attr.data-target]="'#notApprove' + i"
            (click)="setReasonIntoDocument(i)">
            ตกลง
          </button>
          <button type="button" data-toggle="collapse" [attr.data-target]="'#notApprove' + i"
            (click)="cleanInputReason(i)">
            ยกเลิก
          </button>
        </div>
      </td> -->
        <td class="text-center">{{ document.info }}</td>
        <td class="text-center">{{ document.diff }}</td>
        <td class="text-center">{{ document.docType }}</td>
        <td (click)="openDialogDetailDocument(document)" class="pointer">{{ document.accDocNo }}</td>
        <td class="text-center">{{ document.fiscYear }}</td>
        <td class="text-center">{{ document.referenceNo }}</td>
        <td class="text-center">{{ document.referenceText }}</td>
        <td class="text-center">{{ document.dateDoc| date: 'dd.MM.yyyy' }}</td>
        <td class="text-center">{{ document.datePost | date: 'dd.MM.yyyy'}}</td>

        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
        <td class="text-center">{{ document.compCode }}</td>
      </tr>
    </table>
  </cdk-virtual-scroll-viewport>